@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  transition: 0.5s;
}

/* *=========== Default theme =========== */
/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 4.9% 83.9%;
  }
} */

/* *=========== Orange theme =========== */
@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 189 36% 56%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --card: 24 9.8% 8%;
    --card-foreground: 0 0% 95%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 41 100% 59%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 20.5 90.2% 48.2%;
  }
}

.shadow-light {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.085);
}

.shadow-dark {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.141);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

* {
  -webkit-font-smoothing: antialiased;
}

/* Example Tailwind CSS classes for the components */
.fixed-container {
  @apply h-screen flex items-center justify-center;
}

.fixed-content {
  @apply text-center mx-auto;
}

.step-content {
  @apply transition-all duration-300 ease-in-out;
}

.active-step {
  @apply text-primary font-bold;
}

.inactive-step {
  @apply text-gray-500;
}

.image {
  --n: 3; /* number of tiles*/
  --d: 20px; /* the distance of top/bottom movement */
  --s: 1.1; /* control the horizontal distance  1>= (1:no distance)*/
  display: inline-block;
  box-sizing: border-box;
  margin: 30px;
  position: relative;
  background-size: 0 0;
  transition: 0.5s;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.image > * {
  position: absolute;
  top: var(--d);
  left: 0;
  right: 0;
  bottom: var(--d);
  overflow: hidden;
  background-image: inherit;
  background-size: cover;
  -webkit-mask: linear-gradient(#fff, #fff) no-repeat;
  -webkit-mask-size: calc(100% / var(--n) + 1px) 100%;
  -webkit-mask-position: var(--p) 50%;
  mask: linear-gradient(#fff, #fff) no-repeat;
  mask-size: calc(100% / var(--n) + 1px) 100%;
  mask-position: var(--p) 50%;
  transition: inherit;
  transform-origin: var(--p) 50%;
}

/* we define as many as possible to cover the max value used */
.image > :nth-child(1) {
  --p: calc(0 * 100% / (var(--n) - 1));
}
.image > :nth-child(2) {
  --p: calc(1 * 100% / (var(--n) - 1));
}
.image > :nth-child(3) {
  --p: calc(2 * 100% / (var(--n) - 1));
}
.image > :nth-child(4) {
  --p: calc(3 * 100% / (var(--n) - 1));
}
.image > :nth-child(5) {
  --p: calc(4 * 100% / (var(--n) - 1));
}
.image > :nth-child(6) {
  --p: calc(5 * 100% / (var(--n) - 1));
}
.image > :nth-child(7) {
  --p: calc(6 * 100% / (var(--n) - 1));
}
.image > :nth-child(8) {
  --p: calc(7 * 100% / (var(--n) - 1));
}
.image > :nth-child(9) {
  --p: calc(8 * 100% / (var(--n) - 1));
}
.image > :nth-child(10) {
  --p: calc(9 * 100% / (var(--n) - 1));
}
/**/

.image > :nth-child(odd) {
  transform: translateY(var(--d)) scale(calc(1 / var(--s)));
}
.image > :nth-child(even) {
  transform: translateY(calc(-1 * var(--d))) scale(calc(1 / var(--s)));
}
.image {
  transform: scale(var(--s));
}
